# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output image files
encrypted_image.png
decrypted_image.png

# Ignore IDE/project settings
*.idea/
.vscode/
*.log
*.swp
